# Ignorar el directorio que contiene las claves
/claves/
/convertir_icono.py
/zipheraxis.spec

# Ignorar archivos de Python específicos
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de IDEs
.vscode/
.idea/
.spyder-py3/

# Ignorar archivos temporales
*.cifrado

# Entornos virtuales
venv/
env/
ENV/
.vscode/

# Archivos de configuración local
*.log
*.sqlite3
*.db
*.bak

# Archivos de compilación
*.exe
*.spec
build/
dist/
*.egg-info/

# Archivos de sistema
.DS_Store
Thumbs.db

# Claves o configuraciones sensibles
*.key
*.pem
*.enc

# Ignorar archivos .txt temporales o de prueba
*.txt
*.iss

# Incluir requirements.txt explícitamente
!requirements.txt